#include <WINUSER.H>

#define IDC_DIALOG 200
#define IDC_GROUPBOXINFORMATION1 1001
#define IDC_STATICTEXT1 1002
#define IDC_EDIT1 1003
#define IDC_BUTTONOK 1004
#define IDC_BUTTONCANCEL 1005

IDC_DIALOG DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Window"
CLASS "ClasseDLG"
FONT 0,""
{
   CONTROL " Information ",IDC_GROUPBOXINFORMATION1,"BUTTON",BS_GROUPBOX,1,2,244,92
   CONTROL "Texte",IDC_STATICTEXT1,"STATIC",SS_LEFT | WS_VISIBLE | NOT WS_GROUP,8,22,28,10
   CONTROL "IDC_EDIT1",IDC_EDIT1,"EDIT",ES_LEFT | ES_AUTOHSCROLL | NOT WS_BORDER | WS_TABSTOP,42,23,196,8
   CONTROL "&OK",IDC_BUTTONOK,"BUTTON",BS_DEFPUSHBUTTON | WS_TABSTOP,130,78,50,11
   CONTROL "&Cancel",IDC_BUTTONCANCEL,"BUTTON",BS_PUSHBUTTON | WS_TABSTOP,187,78,50,11
}
